/* style.css */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:#02115AE6;
    border-radius: 4px;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    
}

.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
}

.header {
    background-color: #02115AE6	 ;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 0;
}

.header p {
    font-weight: lighter;
    color: #abaebe;
    font-size: 14px;
}
.logo img {
    max-width: 200px; 
}

.footer {
    background-color:  #02115AE6;
    padding: 20px 0;
    z-index: 999;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }

  .contact-info p {
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 10px 0;
  }
  
  .footer-text {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }

  .footer-text p {
    color: #abaebe;
    font-weight: lighter;
  }

  
.flash-messages {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.flash-messages li {
    color: #f00;
}

.error-message {
    color: #f00;
}

h1 {
    margin-bottom: 20px;
}

table.person-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
}

.person-table-container {
    overflow-x: auto;
    width: 90%;
    border-collapse: collapse;
}

table.person-table th,
table.person-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table.person-table th {
    background-color: #f2f2f2;
}

.table.person-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.edit-delete-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5px;
}

.edit-link,
.delete-link,
.print-link {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 70px;
}

.edit-link:hover,
.delete-link:hover {
    text-decoration: underline;
    background-color: #f0f0f0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.edit-link {
    background-color: #4CAF50;
    color: white;
    margin-right: 5px;
}

.delete-link {
    background-color: #f00;
    color: #fff;
}
.print-link {
    background-color:#007bff;
    color: #fff;
}

.button-container-list {
    margin-top: 20px;
    text-align: center;
    background-color: #02115AE6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    margin-right: 10px;
}

.cancel-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    font-size: 14px;
}
.logout{
    background-color: #fff;
    border-radius: 3px;
    border: 10px solid;
}
.user-info{
    font-size: 36px;
    font-weight: 700;
    color: #e0311e

}

.logout a{
    color: #02115AE6;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.button-caption img {
    position: relative;
    bottom: 6rem;
    left: 8rem;
}

.form-group {
    margin-bottom: 15px;
}

.button-center {
    display: flex;
    justify-content: center;
}

.yeni-ekle-button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    transition: background-color 0.3s;
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.yeni-ekle-button:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.cell-wrapper {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.person-table th,
table.person-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
}

.form-group {
    margin-bottom: 1rem;

}

.form-group label {
    display: block;
    font-weight: lighter;
    margin-bottom: 0.5rem;
    
}

.form-group input,select,button {
    background-color:white;
    width: 80%;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1rem;
}

.form-group .error-message {
    color: red;
    display: none;
}

.error {
    border-color: red;
}
  
.error-message {
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.error-message-dal {
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.motto-image {
    display: block;
    margin: 0 auto;
    max-width: 35%; 
    margin-top: 20px; 
}

.button-image {
    display: block;
    margin: 0 auto;
    max-width: 15%; 
    margin-top: 10px; 
}

.button-container {
    text-align: center;
    margin-top: 30px; 
    position: relative; 
}

.caption {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif; 
    color: #0047ab;
    margin-bottom: 20px; 
}
