<!DOCTYPE html>
<html>
<head>
    <title>İşyeri Bilgileri</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<header class="header">
    <div class="logo">
        <a href="{{ url_for('index') }}" >
            <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="logo" >
        </a>    
    </div>
    <p>Büyük Başarılar Kazanmak İçin İhtiyacınız Olan Destek!</p>  
</header>
<body>
    <div class="container">
    <h1>İşyeri Bilgileri</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('company_info_form') }}">
        <h2>İşletmenin Bilgileri</h2>
        <label for="company_name">Ünvanı/Adı:</label>
        <input type="text" id="company_name" name="company_name" required><br><br>
        
        <label for="company_address">Adresi:</label>
        <input type="text" id="company_address" name="company_address" required><br><br>
        
        <label for="company_phone">Telefon Numarası:</label>
        <input type="tel" id="company_phone" name="company_phone" required><br><br>
        
        <label for="company_email">E-Posta Adresi:</label>
        <input type="email" id="company_email" name="company_email" required><br><br>
        
        <label for="tax_number">Vergi Numarası:</label>
        <input type="text" id="tax_number" name="tax_number" required><br><br>
        
        <label for="sgk_registry_number">SGK Sicil Numarası:</label>
        <input type="text" id="sgk_registry_number" name="sgk_registry_number" required><br><br>
        
        <label for="sgk_employee_count">SGK'lı Personel Sayısı:</label>
        <input type="number" id="sgk_employee_count" name="sgk_employee_count" required><br><br>
        
        <label for="bank_name">Banka Adı:</label>
        <input type="text" id="bank_name" name="bank_name" required><br><br>
        
        <label for="branch_name">Şube Adı:</label>
        <input type="text" id="branch_name" name="branch_name" required><br><br>
        
        <label for="iban_number">IBAN Numarası:</label>
        <input type="text" id="iban_number" name="iban_number" required><br><br>
        
        <h2>İşletme Temsilcisinin Bilgileri</h2>
        <label for="representative_name">Adı Soyadı:</label>
        <input type="text" id="representative_name" name="representative_name" required><br><br>
        
        <label for="representative_tc">TC Numarası:</label>
        <input type="text" id="representative_tc" name="representative_tc" required><br><br>
        
        <label for="representative_title">Görevi / Ünvanı:</label>
        <input type="text" id="representative_title" name="representative_title" required><br><br>
        
        <input type="submit" value="Devam">
    </form>
    </div>
</body>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-text">
            &copy; ABCtr DANIŞMANLIK
            <p>Eğitim, Sağlık, E-Ticaret, Reklam ve SGK Teşvik Danışmanlığı</p>
            <p>(Tüm Hakları Saklıdır.)</p>
          </div>
          <div class="contact-info">
            <p><i class="fas fa-envelope"></i> abctr.online@gmail.com</p>
            <p><i class="fas fa-phone"></i> +90 505 765 15 45</p>
          </div>
      <div class="social-icons">
        <a href="https://www.facebook.com/taylankapucu" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/taylankapucu" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/abctr.online/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCtDsCYOfrLd8DoZbH8-ie5Q" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.linkedin.com/in/taylankapucu/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    
    </div>
  </footer>
</html>
