<!DOCTYPE html>
<html>
<head>
    <title>ÖN BİLGİLER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('index') }}" >
                <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="logo" >
            </a> 
            <div class="motto">
                <a href="{{ url_for('index') }}" >
                    <img src="{{ url_for('static', filename='motto.jpeg') }}" alt="motto" >
                </a>    
            </div>   
        </div>
        <p>Büyük Başarılar Kazanmak İçin İhtiyacınız Olan Destek!</p> 
      <div class="logout">
        <a href="{{ url_for('logout') }}">Çıkış Yap<i class="fa-solid fa-right-from-bracket"></i></a> <br>       
      </div>  
    </header>
    <div class="container">
        <h1>ÖN BİLGİLER</h1>
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
        <form method="POST" onsubmit="return validateForm()" enctype="multipart/form-data" action="{{ url_for('duzenle2', tcno=person_data.TCNo) if person_data.TCNo else '' }}" id="editForm">
            <div class="form-group">
                <label for="name">Adı:</label>
                <input type="text" id="name" name="name" required value="{{ person_data.name }}">
            </div>            
        
            <div class="form-group">
                <label for="surname">Soyadı:</label>
                <input type="text" id="surname" name="surname" required value="{{ person_data.surname }}">
            </div>            
        
            <div class="form-group">
                <label for="TCNo">TC Kimlik Numarası:</label>
                <input type="text" name="TCNo" id="TCNo" value="{{ tcno }}" readonly>
                <input type="hidden" name="tcno" value="{{ person_data.TCNo }}">
            </div>            
        
            <div class="form-group">
                <label for="birth_date">Doğum Tarihi (Gün/Ay/Yıl):</label>
                <input type="date" id="birth_date" name="birth_date" required value="{{ birth_date_formatted }}">
            </div>                     
        
            <div class="form-group">
                <label for="photo">Fotoğraf Ekle:</label>
                <input type="file" id="photo" name="photo" accept="image/*">
            </div>
            <div class="button-container">
                <input type="submit" value="İleri" class="button primary-button">
                {% if user.role == 'admin' %}
                <a href="{{ url_for('admin_dashboard') }}" class="button cancel-button">Vazgeç</a>
                {% else %}
                <a href="{{ url_for('list') }}" class="button cancel-button">Vazgeç</a>
                {% endif %}
            </div>                            
        </form>               
    </div>
    <script>
        function validateForm() {   
            const warningMsg = document.getElementById('warning');
            const tcInput = document.getElementById('TCNo');
            const tcLength = tcInput.value.length;
            if (tcLength !== 11) {
                warningMsg.style.display = 'inline';
                return false;
            } else {
                warningMsg.style.display = 'none';
            }
            return true;
        }
  
        window.onload = function () {
            const tcInput = document.getElementById('TCNo');
            tcInput.addEventListener('input', function () {
                checkTCLength(this);
            });
        };
        function formatPhoneNumber(event) {
    const input = event.target;
    const value = input.value.replace(/\D/g, '');

    let formattedValue = '';
    for (let i = 0; i < value.length; i++) {
        if (i === 0) {
            formattedValue += '0';
        } else if (i === 4 || i === 7 || i === 9) {
            formattedValue += ' ' + value[i];
        } else {
            formattedValue += value[i];
        }
    }

    input.value = formattedValue;
}
    </script>    
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-text">
                &copy; ABCtr DANIŞMANLIK
                <p>Eğitim, Sağlık, E-Ticaret, Reklam ve SGK Teşvik Danışmanlığı</p>
                <p>(Tüm Hakları Saklıdır.)</p>
              </div>
              <div class="contact-info">
                <p><i class="fas fa-envelope"></i> abctr.online@gmail.com</p>
                <p><i class="fas fa-phone"></i> +90 505 765 15 45</p>
              </div>
          <div class="social-icons">
            <a href="https://www.facebook.com/taylankapucu" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/taylankapucu" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/abctr.online/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCtDsCYOfrLd8DoZbH8-ie5Q" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.linkedin.com/in/taylankapucu/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          </div>
        
        </div>
      </footer>
</body>
</html>