<!DOCTYPE html>
<html>
<head>
    <title>Giriş</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Giriş</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if success_message %}
        <p class="success-message">{{ success_message }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('login') }}">
        <label for="username">Kullanıcı Adı:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="password" required><br><br>

        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
        
        <button type="submit">Login</button>
    </form>
</body>
</html>